version: "3"

services:
  db:
    image: postgres:18
    networks:
      - hmpps
    container_name: prisoner-pay-api-db
    restart: always
    ports:
      - "15432:5432"
    environment:
      POSTGRES_DB: prisoner-pay-api-db
      POSTGRES_USER: prisoner-pay-api
      POSTGRES_PASSWORD: prisoner-pay-api

  localstack:
    image: localstack/localstack:4
    #    image: localstack/localstack:4-arm64
    networks:
      - hmpps
    container_name: prisoner-pay-api-localstack
    restart: always
    ports:
      - "14566:4566"
    environment:
      - SERVICES=sqs
    volumes:
      - "./localstack:/etc/localstack/init/ready.d"
      - "${LOCALSTACK_VOLUME_DIR:-./volume}:/var/lib/localstack"

networks:
  hmpps:
